body {
  position: relative;
  background-color: #ebe1d9;
  color: #3b2321;
  min-height: 100vh;
  width: 100%;
}

.banner-container {
  background-image: url("./images/banner-brownie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}
